/* Selector {
    Property: value;
} */

body {
  background-image: url(udemy_background_pic.jpg);
  background-size: cover;
}

h2 {
  color: rgb(81, 152, 54);
  text-align: center;
  border: 5px groove #317617;
  cursor: pointer;
}

p {
  color: pink;
}

p {
  color: rgb(127, 120, 195);
}

li {
  list-style: none;
  display: inline-block;
}
