/* Selector {
    Property: value;
} */
* {
  text-align: right;
}

body {
  background-image: url(udemy_background_pic.jpg);
  background-size: cover;
}

h2,
p {
  color: rgba(81, 152, 54, 0.5);
  text-align: center;
  border: 5px groove #317617;
  cursor: pointer;
}

p {
  color: pink;
}

p {
  color: rgb(127, 120, 195);
}

li {
  list-style: none;
  display: inline-block;
}

.webText {
  border: 5px dashed red;
}

.active {
  color: orange;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}
#div2 {
  background: rgba(255, 0, 0, 0.2);
}
